<section class="blog-detail-page">
  <!-- blog-post-header.component.html -->
  <!-- blog-post-header.component.html -->
  <div class="blog-detail-title">
    <div class="blog-details-title-image">
      <img [src]="blogPost.image || '/assets/images/blog/default.jpg'" [alt]="blogPost.title">
    </div>

    <div class="blog-detail-title-container">


      <h1 class="blog-title">{{ blogPost.title }}</h1>

      <p class="blog-excerpt">{{ blogPost.description }}</p>

      <div class="blog-author-info">
        <div class="author-avatar">
          <img src="assets/images/blog/profile.png" alt="Author avatar">
        </div>

        <div class="author-details">
          <div class="author-name">Lori Stevens</div>
          <div class="post-meta">
            <span class="post-date">{{ blogPost.date | date:'MMM d, yyyy' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-detail-content">
    <div class="blog-detail-content-text">
      <!-- Safe content rendering -->
      <div *ngIf="blogPost?.content">
        <!-- Handle both HTML and processed content -->
        <div *ngIf="blogPost.content.includes('<')" [innerHTML]="blogPost.content"></div>

        <div *ngIf="!blogPost.content.includes('<')">
          <!-- Processed paragraphs -->
          <p *ngFor="let paragraph of (blogPost.processedContent?.paragraphs || [])">
            {{paragraph}}
          </p>

          <!-- Processed bullet points -->
          <ul *ngIf="blogPost.processedContent?.bulletPoints?.length">
            <li *ngFor="let point of blogPost.processedContent.bulletPoints">{{point}}</li>
          </ul>
        </div>
      </div>


    </div>
  </div>

  <div class="rent-product-container">
    <button class="rent-product-btn" (click)="rentProduct()">
      Rent the Product
    </button>
  </div>
  <!-- Add null check -->

  <app-comment [blogId]="blogId"></app-comment>




  <!-- In your parent component's template -->
  <app-add-comment
    [blogId]="blogId"
    (commentAdded)="handleNewComment($event)">
  </app-add-comment>



  <div class="blog-detail-footer">
    <div class="blog-detail-share">
      <h3>Share on:</h3>
      <div class="social-buttons">
        <button (click)="shareOnFacebook()" class="social-button facebook">
          <i class="fa fa-facebook"></i> Facebook
        </button>
        <button (click)="shareOnInstagram()" class="social-button instagram">
          <i class="fa fa-instagram"></i> Instagram
        </button>
        <button (click)="shareOnTwitter()" class="social-button twitter">
          <i class="fa fa-twitter"></i> Twitter
        </button>
        <button (click)="copyToClipboard()" class="social-button">
          <i class="fa fa-link"></i> Copy Link
        </button>
      </div>
    </div>
    <div class="blog-detail-tags">
      <h3>Popular Tags:</h3>
      <div class="tag-buttons">
        <a href="#" class="tag-button">Blog</a>
        <a href="#" class="tag-button">Tour</a>
        <a href="#" class="tag-button">Holidays</a>
        <a href="#" class="tag-button">Ticket Booking</a>
        <a href="#" class="tag-button">Deep learning</a>
      </div>
    </div>
  </div>
</section>
