<div class="complaint-detail-container" *ngIf="!isLoading && complaint">
  <div class="complaint-detail-card">
    <h2>📋 Complaint Details</h2>

    <p><strong>Type:</strong> {{ complaint.complaintType }}</p>
    <p><strong>Description:</strong> {{ complaint.description }}</p>
    <p><strong>Status:</strong> {{ complaint.status }}</p>
    <p><strong>Complaint Date:</strong> {{ complaint.complaintDate | date:'medium' }}</p>
    <p><strong>User ID:</strong> {{ complaint.userId }}</p>
    <p><strong>Reported User ID:</strong> {{ complaint.reportedUserId }}</p>

    <div *ngIf="complaint.evidence?.length">
      <p><strong>Evidence:</strong></p>
      <ul>
        <li *ngFor="let ev of complaint.evidence">{{ ev }}</li>
      </ul>
    </div>
    <!-- <button *ngIf="complaintId"
    class="bg-purple-500 hover:bg-purple-600 text-white px-3 py-1 rounded-md text-sm"
    (click)="downloadPdf(complaintId)">
    📄 <span>Download PDF</span>
  </button> -->
 
  <button *ngIf="complaintId" 
  class="pdf-button"
  (click)="downloadPdf(complaintId)">
📄 <span>Download PDF</span>
</button>

  <div class="back-arrow" (click)="goToComplaintList()" title="Retour à la liste">
  ⬅ Retour
</div>

  </div>
</div>

<div class="error-text" *ngIf="errorMessage">{{ errorMessage }}</div>
