<!-- comment.component.html -->
<div class="comments-container">
  <h3>Comments ({{comments.length}})</h3>

  <!-- Debug output -->
  <div *ngIf="false" class="debug-info">
    <!-- Set to true temporarily for debugging -->
    <p>Blog ID: {{blogId}}</p>
    <pre>{{comments | json}}</pre>
  </div>

  <div *ngIf="isLoading" class="loading">Loading comments...</div>

  <div *ngIf="error" class="error">{{error}}</div>

  <div *ngIf="!isLoading && comments.length === 0" class="no-comments">
    No comments yet.
  </div>

  <div class="comments-list">
    <div *ngFor="let comment of comments" class="comment">
      <div class="comment-header">
        <img src="assets/images/default-avatar.png" alt="User avatar" width="40">
        <div class="comment-meta">
          <div class="user">User #{{comment.userId}}</div>
          <div class="comment-body">
            {{comment.content}}
          </div>
          <div class="date">{{comment.createdAt | date:'medium'}}</div>
        </div>
      </div>

    </div>
  </div>
</div>
